<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animasi Pegas</title>
  </head>
  <body>
    <h1>Animasi Pegas</h1>
    <form method="post" id="form">
      <label for="frequency">Frekuensi:</label>
      <input type="text" id="frequency" name="frequency" required /><br /><br />
      <label for="wavelength">Panjang Gelombang:</label>
      <input
        type="text"
        id="wavelength"
        name="wavelength"
        required
      /><br /><br />
      <label for="amplitude">Amplitudo:</label>
      <input type="text" id="amplitude" name="amplitude" required /><br /><br />
      <label for="speed">Kecepatan:</label>
      <input type="text" id="speed" name="speed" required /><br /><br />
      <input type="submit" value="Generate Animation" />
    </form>

    <script>
      const frequencyInput = document.getElementById("frequency");
      const wavelengthInput = document.getElementById("wavelength");
      const amplitudeInput = document.getElementById("amplitude");
      const speedInput = document.getElementById("speed");

      const form = document.getElementById("form");
      form.onsubmit = (event) => {
        event.preventDefault();
        const frequency = parseFloat(frequencyInput.value);
        const wavelength = parseFloat(wavelengthInput.value);
        const amplitude = parseFloat(amplitudeInput.value);
        const speed = parseFloat(speedInput.value);
        window.location.href = `/output?frequency=${frequency}&wavelength=${wavelength}&amplitude=${amplitude}&speed=${speed}`;
      };
    </script>
  </body>
</html>
